*{
    margin:0px;
    padding:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav{
    border:2px solid black;
    background-color:rgb(64, 222, 169);
    height:30px;
}

#first{
    list-style:none;
    margin:0px;
    padding:0px;
    display: flex;
    font:bold;
}
nav li{
    position:relative;
    padding:0px 5px;
}
   nav a{
    display:block;
    padding:14pxpx 22px;

text-align:center;
text-decoration:none;
}
nav a:hover{
    background-color:aqua;
}
nav ul ul{
display:none;
position:absolute;
top:100;
left:0px;
min-width:160px;
flex-direction:column;
}
nav ul ul li {
width:200px;
background-color:rgb(55, 23, 234)
}
nav li:hover>ul{
display:flex;
}
@media(max-width:600px){
nav ul{
    flex-direction:column;
}
nav ul ul{
    position:static;
}}

nav ul ul li:hover{
    background-color:rgb(241, 101, 101);

}
nav ul{
    justify-content:space-evenly;
}